:root {
   --color-secondary: blue; /* "top of page" button, scrolling progress bar... (accent) bg */
   --color-secondary-dark: /* TODO:  */; /* accent dark bg */

   --color-on-secondary: /* TODO:  */; /* "top of page" button, scrolling progress bar... (accent) text color */
   --color-on-secondary-dark: /* TODO:  */; /* "top of page" button, scrolling progress bar... (accent) text dark */

   /*--color-secondary-variant:;  seems unnecessary for now (in app, would be status bar bg)
   --color-secondary-variant-dark:; seems unnecessary for now */

   /*--color-error:;  error background light
   --color-error-dark:;  error background dark
   --color-on-error:; /* error text light
   --color-on-error-dark:; /* error text dark */
}

body {
   --color-background: linear-gradient(0deg, #80cbc4, #b2dfdb); /* body background light */
   --color-background-dark: linear-gradient(0deg, #263238, #37474f); /* body background dark */
   /*--color-on-background: #263238; body text light (no text on bg)
   --color-on-background-dark: #2F2F2F; body text dark */

   --color-surface: #F0F4FF; /* main background light */
   --color-surface-dark: #303639; /* main background dark */
   /* --color-surface-dark: #D8D8D8; */

   --color-on-surface: #263238; /* main text light (same as body) */
   --color-on-surface-dark: #DDD; /* main text dark */
   /* --color-on-surface-dark: #2F2F2F; */

   --color-on-primary: #323232CA; /* header, aside text color light */
   --color-on-primary-dark: #E9E9E9;

   --color-control-on-primary: #323232;
   --color-control-on-primary-dark: #E2E2E2ED;
}

header {
   --color-primary: /*#c5cae9;*/#64b5f6; /* header background light */
   --color-primary-dark: #242424;
}

header, aside {
   --color-primary-variant: lightblue; /* should be status bar background light. Aside bg */
   /* --color-primary-variant: #ECE5FF; /* should be status bar background light. Aside bg */
   --color-primary-variant-dark: #3A3A65;
   /* --color-primary-variant-dark: #282c34; /* Aside bg dark */

   /* --color-on-primary-dark: red; */

}
