:root {
   --color-secondary: blue; /* "top of page" button, scrolling progress bar... (accent) bg */
   --color-secondary-dark: /* TODO:  */; /* accent dark bg */

   --color-on-secondary: /* TODO:  */; /* "top of page" button, scrolling progress bar... (accent) text color */
   --color-on-secondary-dark: /* TODO:  */; /* "top of page" button, scrolling progress bar... (accent) text dark */
}

body {
   --color-background: powderblue;
   --color-background-dark: #0B0E11;

   --color-surface: #FEFEFE; /* main background light */
   --color-surface-dark: #303639; /* main background dark */

   --color-on-primary: #2F343A; /* header, aside text color light */
   --color-on-primary-dark: #EAECEF;

   --color-control-on-primary: #C99400;
   --color-control-on-primary-dark: #F0B90B;

   --color-primary: aliceblue; /* header background light */
   --color-primary-dark: #242424;

   --color-button: #181A20;
   --color-button-background: #fcd535;
}

header, aside {
   --color-primary-variant: lightblue; /* should be status bar background light. Aside bg */
   --color-primary-variant-dark: #3A3A65;
}
