#all-container.night-mode {background-color: var(--color-background-dark);}

main.night-mode a:link {color: steelblue;}
main.night-mode a:visited {color: #8360cb;}
main.night-mode a:hover {color: var(--color-control-on-primary-dark);}

main.night-mode {
   background-color: var(--color-surface-dark);
   color: var(--color-on-primary-dark);
}

main.night-mode .card-text {background-color: var(--color-surface-dark);}

header.night-mode {background-color: var(--color-primary-dark);}

#menu-svg.night-mode {fill: var(--color-on-primary-dark);}

#menu-svg-container:hover > #menu-svg.night-mode {fill: var(--color-control-on-primary-dark);}

.header-link.night-mode, #index-link.night-mode, a:link#index-link.night-mode, a:visited#index-link.night-mode, #night-mode.night-mode {
   color: var(--color-on-primary-dark);
}

.header-link.night-mode:hover, a:hover#index-link.night-mode, #night-mode.night-mode:hover {
   color: var(--color-control-on-primary-dark);
}

.header-link-expandable-list.night-mode {background-color: #2A2C2E;}

.header-link-expandable-list.night-mode:hover {box-shadow: 0 0 1em 0.1em #fff1;}

.header-link-expandable-list.night-mode li:hover {background-color: var(--color-on-primary);}

.header-link-expandable-list.night-mode li a:link, .header-link-expandable-list.night-mode li a:visited {color: var(--color-on-primary-dark);}

.header-link-expandable-list.night-mode li:hover .material-icons-round {color: var(--color-control-on-primary-dark);}

aside.night-mode {
   background-color: var(--color-primary-variant-dark);
   color: var(--color-on-primary-dark);
}

.side-nav-lvl-0-link.night-mode:hover, .side-nav-lvl-0-link.night-mode.hover {background-color: darkslateblue;}

[class^=side-nav-lvl-1-link].night-mode:hover, #cours-1ere-droit.night-mode.hover, #cours-1ere-eco.night-mode.hover, #cours-1ere-mana.night-mode.hover,
#cours-tle-droit.night-mode.hover, #cours-tle-eco.night-mode.hover, #cours-tle-mana.night-mode.hover, #cours-sig.night-mode.hover {
   background-color: steelblue;
}

[class^=side-nav-lvl-2-link].night-mode:hover {background-color: cadetblue;}

.button.night-mode {
   box-shadow: 0 0.4rem 0.6rem rgb(0 0 0 / 50%);
   background: linear-gradient(325deg, #222236AA, #2F2F2FFF 70%, #222236AA 105%);
}

a:link.button.night-mode, a:visited.button.night-mode {color: var(--color-on-primary-dark);}

a.button.night-mode:hover {color: #F0B90DED;}

#all-container.night-mode h1 {background: linear-gradient(0deg, var(--color-background-dark), var(--color-primary-dark) 0.1%, var(--color-surface-dark) 4%, var(--color-surface-dark));}

#all-container.night-mode h1, #all-container.night-mode h2 {text-decoration-color: var(--color-on-primary-dark);}

#all-container.night-mode td, #all-container.night-mode th {border-color: var(--color-on-primary-dark);}

footer.night-mode {background-color: var(--color-primary-dark);}

footer.night-mode div {color: #C0CADA;}

footer.night-mode a:link, footer.night-mode a:visited {color: #A0AABA;}

footer.night-mode a:hover {color: var(--color-control-on-primary-dark);}
