header.night-mode {
   background-color: var(--color-primary-dark);
   /* background: linear-gradient(290deg, #242424 60%, #2C2C2CEE 80%, #343434CC); */
}

#header-links.night-mode .header-link, #header-links.night-mode a {
   color: var(--color-on-primary-dark);
}

#menu-svg.night-mode {
   fill: var(--color-on-primary-dark);
}

#menu-svg.night-mode:hover {
   fill: var(--color-control-on-primary-dark);
}

/* .night-mode.index-link:hover, #header-links.night-mode .header-link:hover,
#header-links.night-mode #night-mode:hover, .night-mode.side-nav-item:hover {
   color: #E2E2E2ED;
} */

#header-links.night-mode span:hover, #header-links.night-mode #night-mode:hover, .index-link.night-mode:hover {
   color: var(--color-control-on-primary-dark);
}
