html,
body {
   margin:0;
   padding:0;
   height:100%;
}

html {
   scroll-behavior: smooth;
}

* { box-sizing: border-box; }


body {
   width: 100%;
   font-family: 'Roboto';
}

#all-container {
   position: relative;
   min-height: 100%;
   padding-top: 6em;
   padding-bottom: 11.5em;
   background: var(--color-background);
}

header {
   position: fixed;
   width: 100%;
   height: 64px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--color-primary);
   box-shadow: 0 0 .2em 0 #292929DD;
   text-align: center;
   top: 0;
   z-index: 1000;
   transition: top .3s cubic-bezier(.4, 0, .2, 1);
}

#header-menu-index-container {
   display: flex;
   align-items: center;
}

#menu-svg:hover { fill: var(--color-control-on-primary); }

#menu-svg {
   height: 24px;
   margin: 0 var(--header-padding);
   transition: fill var(--hover-anim-duration);
   cursor: pointer;
}

/* Menu bars (svg) and anims */
#menu-svg-top-bar { transform-origin: top left; }
#menu-svg-bottom-bar { transform-origin: bottom left; }
#menu-svg-top-bar, #menu-svg-bottom-bar { transition: transform var(--menu-anim-duration); }
#menu-svg-center-bar {
   opacity: 1;
   transition: opacity var(--menu-anim-duration);
}
#menu-svg.anim #menu-svg-top-bar { -webkit-transform: rotate(45deg) translate(5px, -6px); }
#menu-svg.anim #menu-svg-bottom-bar { -webkit-transform: rotate(-45deg) translate(5px, 6px); }
#menu-svg.anim #menu-svg-center-bar { opacity: 0; }

#header-links :not(#night-mode) { display: none; }

#night-mode {
   cursor: pointer;
   margin: var(--header-padding);
}


main {
   display: flex;
   flex-direction: column;
   position: relative;
   width: 100%;
   /* padding: 24px 24px 60px 24px; */
   background-color: var(--color-surface);
   color: var(--color-on-surface);
   box-shadow: 0 0 .2em 0 #2F2F2F;
   padding: 0;
   padding-top: 1%;
}

#fab-back-to-top {
   position: fixed;
   width: 48px;
   height: 48px;
   border: none;
   border-radius: 50%;
   opacity: 0;
   left: 90%;
   bottom: 15em;
   transform: translateX(-24px);
   background-color: #ff8a00CC;
   box-shadow: 0.04em -0.06em 0.15em 0.05em #4e3317aa;
   cursor: pointer;
}

#fab-back-to-top span {
   font-size: 32px;
}

a:visited, a:hover, a:active {
   color: inherit;
   text-decoration: none;
}

a:visited {
   color: purple;
}

a:link { text-decoration: none; }

.index-link {
   display: flex;
   flex-direction: column;
   font-family: 'Oregano', 'Poiret One', 'Lilita One', 'Itim', 'Arial Black';
   font-weight: normal;
   font-size: 2em;
   font-style: italic;
   line-height: 0.87;
}

.index-link, .material-icons-round, .header-link, a:visited.index-link {
   color: var(--color-on-primary);
   transition: color var(--hover-anim-duration);
}

.header-link:hover, .index-link:hover, #night-mode:hover, #fab-back-to-top:hover > .material-icons-round {
   color: var(--color-control-on-primary);
}

/*.material-icons-round, */.header-link {
   cursor: pointer;
}

/* Used in header and side nav*/
.mes-rev {
   font-family: 'Road Rage', 'Yellowtail';
   font-size: 1em;
   font-weight: normal;
   font-style: normal;
   transform: translateX(3.5px);
}

/* ul {
   margin-block: 0;
   padding-inline-start: 0;
   list-style-type: none;
} */

aside {
   position: fixed;
   top: 0;
   bottom: 0;
   width: 73%;
   right: 100%;
   height: 100%;
   display: block;
   flex-direction: column;
   align-items: flex-start;
   background-color: var(--color-primary-variant);
   color: var(--color-on-primary);
   box-shadow: -0.1em 0 0.1em 0.01em #292929DD;
   overflow-x: hidden;
   transition: right var(--menu-anim-duration), box-shadow var(--menu-anim-duration);
   z-index: 1200;
}

aside.open {
   right: 27%;
   box-shadow: 1em 0 15em 9em #292929dd;
}

aside a:-webkit-any-link { color: inherit; }

/* aside nav container */
aside ul {
   display: flex;
   flex-direction: column;
   width: -webkit-fill-available;
   padding-inline-start: 1.4em;
   /* overflow-x: visible; */
}

[class^=side-nav-lvl] {
   align-items: center;
   transition: background-color var(--hover-anim-duration);
}

/* level 0 (Cours 1ere) */
.side-nav-lvl-0-link {
   font-size: 108%;
   padding: var(--side-nav-vertical-padding) .2em;
   cursor: pointer;
   width: -webkit-fill-available;
   font-weight: bold;
   padding-inline-start: 0;
}

.side-nav-lvl-0-link > span:last-child {
   font-style: italic;
}

#cours-1ere-all-container, #cours-1ere-droit-all-container, #cours-1ere-eco-all-container, #cours-1ere-mana-all-container,
#cours-ter-all-container, #cours-ter-droit-all-container, #cours-ter-eco-all-container, #cours-ter-mana-all-container {
   transition: max-height var(--side-nav-anim-duration) ease-out;
   overflow: hidden;
   max-height: 0;
}

.collapsible-1ere .material-icons-round, .collapsible-ter .material-icons-round {
   transition: transform var(--side-nav-anim-duration);
   transform: rotate(360deg);
}

.collapsible-1ere.close .material-icons-round, .collapsible-ter.close .material-icons-round {
   transform: rotate(270deg);
}

[class^=side-nav-lvl-1-link] {
   font-size: 104%;
   padding: var(--side-nav-vertical-padding) 0 var(--side-nav-vertical-padding) .8em;
   cursor: pointer;
   padding-inline-start: 0.4em;
}

aside ul, .side-nav-lvl-0-link, [class^=side-nav-lvl-1-link] {
   display: flex;
   list-style-type: none;
   margin-block: 0;
}

[class^=side-nav-lvl-2-link] {
   display: list-item;
   list-style-type: disc;
   width: -webkit-fill-available;
   padding: var(--side-nav-vertical-padding);
   padding-left: 1.68571429em;
   text-indent: -1.28571429em;
   list-style-position: inside;
   border-right: 15px solid transparent;
}

/* [class^=side-nav-lvl-2-link] a {
   padding: var(--side-nav-vertical-padding) .6em var(--side-nav-vertical-padding) 2.8em;
   text-align: justify;
} */

.side-nav-lvl-0-link:hover, .side-nav-lvl-0-link.hover {
   background-color: palegoldenrod;
}

[class^=side-nav-lvl-1-link]:hover, #cours-1ere-droit.hover, #cours-1ere-eco.hover, #cours-1ere-mana.hover, #cours-ter-droit.hover {
/* .side-nav-lvl-1-link:hover { */
   background-color: lightgoldenrodyellow;
}

[class^=side-nav-lvl-2-link]:hover {
   background-color: ivory;
}

#side-nav-index-link {
   text-align: center;
   margin: 0.3em auto;
   width: fit-content;
}

/* width */
/* ::-webkit-scrollbar {
   width: 15px;
   background: linear-gradient(90deg, #CDCDCD, #BBB, #CDCDCD);
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
   background: linear-gradient(90deg, #EDEDEDAA, #EDEDEDEE, #EDEDEDAA);
   border-radius: .4em;
   box-shadow: 0 0 .3em 0 #292929DD;
} */

h1 {
   font-size: 1.9em;
   font-style: italic;
    padding: 2%;
    padding-top: 0;
}

h2 {
   font-size: 1.4em;
   padding-top: 0.83em;
}

h1, h2 {
   text-decoration-line: underline;
   text-decoration-thickness: 0.05em;
   text-underline-offset: 5px;
}

h3 {
   padding: 0 3%;
   margin-block-end: 0;
}

p {
   text-align: justify;
   margin-block: 1.5em 0;
   margin-inline-start: 2%;
}

table {
   border-collapse: collapse;
}

td {
   border: 0.05em solid var(--color-on-surface);
   padding: .1em .2em;
   text-align: justify;
}

td.important {
   text-align: center;
   font-weight: bold;
}

caption {
   font-size: 1.2em;
   margin-bottom: .5em;
   text-decoration: underline;
   font-style: italic;
}

nav {
   display: flex;
   justify-content: center;
   margin-top: 3em;
}

.button {
   font-weight: bold;
   font-size: 1em;
   border-radius: 0.3em;
   margin: 0 0.5em;
   border-style: none;
   padding: 0.4em 0.6em;
   background-color: var(--color-surface);
   /* box-shadow: 1px 1px 0.2em 0.01em #323232; */
   box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
   cursor: pointer;
}

a:link.button, a:visited.button, a:hover.button, a:active.button {
   color: var(--color-on-surface);
}

main a:link { color: royalblue; }
main a:visited { color: rebeccapurple; }

.card-droit-1ere {
   /* box-shadow: 2px 1px 0.1em 0.05em #CDCDCD; */
   /* background: repeating-linear-gradient(23deg, rgb(255 0 0 / 20%) 12.5%, rgb(255 165 0 / 20%) 25%, rgb(255 255 0 / 20%) 37.5%, rgb(0 128 0 / 20%) 50%, rgb(0 0 255 / 20%) 62.5%, rgb(75 0 130 / 20%) 75%, rgb(238 130 238 / 20%) 87.5%, rgb(255 0 0 / 20%) 100%); */
   background: repeating-linear-gradient(23deg, rgb(255 0 0 / 15%) 12.5%, rgb(255 165 0 / 15%) 25%, rgb(255 255 0 / 15%) 37.5%, rgb(0 128 0 / 15%) 50%, rgb(0 0 255 / 15%) 62.5%, rgb(75 0 130 / 15%) 75%, rgb(238 130 238 / 15%) 87.5%, rgb(255 0 0 / 15%) 100%), repeating-linear-gradient(103deg, rgb(255 0 0 / 10%) 12.5%, rgb(255 165 0 / 10%) 25%, rgb(255 255 0 / 15%) 37.5%, rgb(0 128 0 / 15%) 50%, rgb(0 0 255 / 10%) 62.5%, rgb(75 0 130 / 15%) 75%, rgb(238 130 238 / 30%) 87.5%, rgb(255 0 0 / 10%) 100%);
   padding: 0 2%;
   /* width: max-content; */
   /* margin: 0 .5em 2em .5em; */
   /* filter: blur(.04em); */
   /* -webkit-filter: blur(.04em); */
   /*
      repeating-linear-gradient(190deg, rgba(255, 0, 0, 0.5) 40px,
        rgba(255, 153, 0, 0.5) 80px, rgba(255, 255, 0, 0.5) 120px,
        rgba(0, 255, 0, 0.5) 160px, rgba(0, 0, 255, 0.5) 200px,
        rgba(75, 0, 130, 0.5) 240px, rgba(238, 130, 238, 0.5) 280px,
        rgba(255, 0, 0, 0.5) 300px),
      repeating-linear-gradient(-190deg, rgba(255, 0, 0, 0.5) 30px,
        rgba(255, 153, 0, 0.5) 60px, rgba(255, 255, 0, 0.5) 90px,
        rgba(0, 255, 0, 0.5) 120px, rgba(0, 0, 255, 0.5) 150px,
        rgba(75, 0, 130, 0.5) 180px, rgba(238, 130, 238, 0.5) 210px,
        rgba(255, 0, 0, 0.5) 230px),
      repeating-linear-gradient(23deg, red 50px, orange 100px,
        yellow 150px, green 200px, blue 250px,
        indigo 300px, violet 350px, red 370px);
   */
}

.card-text {
   width: fit-content;
   margin: 2em .1%;
   background-color: #FFFFFFBB;
   border-radius: .5em;
   padding: 0 2.5% .01% 2.5%;
   box-shadow: 0 0 1em 0.1em #00000020;
}

.message-tip {
    background: radial-gradient(rgb(255 182 193 / 50%), rgb(255 105 180 / 50%));
    border-radius: 1em;
    display: flex;
    align-items: center;
    padding: 0.7em 1em;
    width: fit-content;
    cursor: pointer;
    box-shadow: 0.02em 0.05em 0.1em 0.05em #32323288;
    margin: 0 0 2% 2%;
}

.message-tip span:nth-child(2) {
   transform-origin: center;
   transform: rotate(90deg);
   transition: transform var(--menu-anim-duration);
}

.message-tip.closed span:nth-child(2) {
   transform: rotate(-90deg);
}

.message-slider {
   transition: max-width 1s;
   overflow: hidden;
   padding: 1% 0;
   /* max-width: 0; */
   /* max-width: auto; */
   /* max-height: 0; */
   /* white-space: normal; */
}

/* .message-tip.closed .message-slider {
   white-space: nowrap;
} */

li a {
    font-size: 105%;
}

footer {
   /* display: contents; */
   position: absolute;
   /* position: relative; */
   font-family: 'Lilita One';
   bottom: 0;
   left: 0;
   right: 0;
   padding: 1.5em 0;
   margin-top: 1.5em;
   height: 8.5em;
   background: linear-gradient(0deg, lightyellow -100%, darkkhaki 70%, darkkhaki 100%);
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    color: var(--color-on-surface);
    /* width: -webkit-fill-available; */
    /* padding-top: 1em; */
    margin: 0;
    padding-inline-start: 20px;
   /* background-color: cyan; */
}

.footer-container {
   display: flex;
   flex-direction: column;
}

.footer-container span {
   padding-right: 0.4em;
}

.footer-text {
   display: flex;
   align-items: center;
   border-bottom: medium solid var(--color-on-surface);
}

.footer-list {
   position: relative;
   display: flex;
   flex-direction: column;
   /* padding: 1em; */
   background: none;
   font-family: 'Balsamiq Sans';
   list-style-type: disc;
}

.footer-list .material-icons-round {
   cursor: pointer;
}

.footer-list li {
   padding: .5em 0 0 0;
}

.footer-list a:link {
   color: inherit;
}

.footer-list a:hover {
   color: inherit;
}

.footer-list-item-container {
   display: flex;
   align-items: center;
}

.footer-list-item-container .material-icons-round {
   transform: scale(.75);
}
