html,
body {
   margin:0;
   padding:0;
   height:100%;
}

html { scroll-behavior: smooth; }

* { box-sizing: border-box; }


body {
   width: 100%;
   font-family: 'Roboto';
}

#all-container {
   position: relative;
   min-height: 100%;
   padding-top: 6em;
   padding-bottom: 11.5em;
   background-color: var(--color-background);
}

header {
   position: fixed;
   width: 100%;
   height: 64px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--color-primary);
   box-shadow: 0 0 .2em 0 #292929DD;
   text-align: center;
   top: 0;
   z-index: 1000;
   transition: top .3s cubic-bezier(.4, 0, .2, 1);
}

#header-menu-index-container {
   display: flex;
   align-items: center;
}

#menu-svg-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 26px;
   height: 26px;
   margin: 0 var(--header-padding);
   cursor: pointer;
}

#menu-svg-container:hover > #menu-svg { fill: var(--color-control-on-primary); }

#menu-svg {
   height: 24px;
   transition: fill var(--hover-anim-duration);
   fill: var(--color-on-primary);
}

/* Menu bars (svg) and anims */
#menu-svg-top-bar { transform-origin: top left; }
#menu-svg-bottom-bar { transform-origin: bottom left; }
#menu-svg-top-bar, #menu-svg-bottom-bar { transition: transform var(--menu-anim-duration); }
#menu-svg-center-bar {
   opacity: 1;
   transition: opacity var(--menu-anim-duration);
}
#menu-svg.anim #menu-svg-top-bar { -webkit-transform: rotate(45deg) translate(5px, -6px); }
#menu-svg.anim #menu-svg-bottom-bar { -webkit-transform: rotate(-45deg) translate(5px, 6px); }
#menu-svg.anim #menu-svg-center-bar { opacity: 0; }

#header-links :not(#night-mode) { display: none; }

#night-mode {
   cursor: pointer;
   margin: var(--header-padding);
}

main {
   display: flex;
   flex-direction: column;
   position: relative;
   min-width: 70%;
   max-width: 100%;
   width: fit-content;
   background-color: var(--color-surface);
   color: var(--color-on-primary);
   box-shadow: 0 0 .2em 0 #2F2F2F;
   border-radius: .2em;
    /* padding: 1%; */
    margin: auto;
}

main a {
   transition: color var(--hover-anim-duration);
}

main a:link { color: royalblue; }
main a:visited { color: rebeccapurple; }

main a:hover {
   color: var(--color-control-on-primary);
}

#fab-back-to-top {
   position: fixed;
   width: 48px;
   height: 48px;
   bottom: 48px;
   right: 5%;
   border: none;
   border-radius: 50%;
   opacity: 0;
   /* left: 90%; */
   /* bottom: 15em; */
   /* transform: translateX(-24px); */
   background-color: #ff8a00CC;
   box-shadow: 0.04em -0.06em 0.15em 0.05em #4e3317aa;
   cursor: pointer;
   z-index: 1;
}

#fab-back-to-top a {
/* #fab-back-to-top span { */
   font-size: 32px;
   vertical-align: middle;

}

a:visited, a:hover, a:active {
   color: inherit;
   text-decoration: none;
}

a:visited {
   color: purple;
}

a:link { text-decoration: none; }

.index-link {
   display: flex;
   flex-direction: column;
   font-family: 'Oregano', 'Poiret One', 'Lilita One', 'Itim', 'Arial Black';
   font-weight: normal;
   font-size: 2em;
   font-style: italic;
   line-height: 0.87;
}

.header-link, .index-link, a:link.index-link, a:visited.index-link, #night-mode, #fab-back-to-top > .material-icons-round {
   color: var(--color-on-primary);
   transition: color var(--hover-anim-duration);
}

.header-link:hover, a:hover.index-link, #night-mode:hover, #fab-back-to-top:hover > .material-icons-round {
   color: var(--color-control-on-primary);
}

.header-link {
   cursor: pointer;
}

/* Used in header and side nav*/
.mes-rev {
   font-family: 'Road Rage', 'Yellowtail';
   font-size: 1em;
   font-weight: normal;
   font-style: normal;
   transform: translateX(3.5px);
}

aside {
   position: fixed;
   top: 0;
   bottom: 0;
   width: 73%;
   right: 100%;
   height: 100%;
   display: block;
   flex-direction: column;
   align-items: flex-start;
   /* background-color: var(--color-primary-variant); */
   background-color: #fde890;
   color: var(--color-on-primary);
   box-shadow: -0.1em 0 0.1em 0.01em #292929DD;
   overflow-x: hidden;
   transition: right var(--menu-anim-duration), box-shadow var(--menu-anim-duration);
   z-index: 1200;
   padding-bottom: 2em;
}

aside.open {
   right: 27%;
   box-shadow: 1em 0 15em 9em #292929dd;
}

aside a:-webkit-any-link { color: inherit; }

aside ul {
   display: flex;
   flex-direction: column;
   width: -webkit-fill-available;
   padding-inline-start: 1.4em;
}

[class^=side-nav-lvl] {
   align-items: center;
   transition: background-color var(--hover-anim-duration);
}

/* level 0 (Cours 1ere) */
.side-nav-lvl-0-link {
   font-size: 108%;
   padding: var(--side-nav-vertical-padding) .2em;
   cursor: pointer;
   width: -webkit-fill-available;
   font-weight: bold;
   padding-inline-start: 0;
}

.side-nav-lvl-0-link > span:last-child {
   font-style: italic;
}

aside::-webkit-scrollbar {
   width: 4px;
}

aside::-webkit-scrollbar-thumb {
   background-clip: content-box;
   background-color: grey;
   border-radius: .5em;
   border-right: 1px solid transparent;
}

#cours-1ere-all-container, #cours-1ere-droit-all-container, #cours-1ere-eco-all-container, #cours-1ere-mana-all-container,
#cours-tle-all-container, #cours-tle-droit-all-container, #cours-tle-eco-all-container, #cours-tle-mana-all-container {
   transition: max-height var(--side-nav-anim-duration) ease-out;
   overflow: hidden;
   max-height: 0;
}

.collapsible-1ere .material-icons-round, .collapsible-tle .material-icons-round {
   transition: transform var(--side-nav-anim-duration);
   transform: rotate(360deg);
}

.collapsible-1ere.close .material-icons-round, .collapsible-tle.close .material-icons-round {
   transform: rotate(270deg);
}

[class^=side-nav-lvl-1-link] {
   font-size: 104%;
   padding: var(--side-nav-vertical-padding) 0 var(--side-nav-vertical-padding) .8em;
   cursor: pointer;
   padding-inline-start: 0.4em;
}

aside ul, .side-nav-lvl-0-link, [class^=side-nav-lvl-1-link] {
   display: flex;
   list-style-type: none;
   margin-block: 0;
}

[class^=side-nav-lvl-2-link] {
   display: list-item;
   list-style-type: disc;
   width: -webkit-fill-available;
   padding: var(--side-nav-vertical-padding);
   padding-left: 1.68571429em;
   text-indent: -1.28571429em;
   list-style-position: inside;
}

a [class^=side-nav-lvl-2-link] {
   padding: var(--side-nav-vertical-padding) .6em var(--side-nav-vertical-padding) 2.8em;
   text-align: justify;
}

.side-nav-lvl-0-link:hover, .side-nav-lvl-0-link.hover {
   background-color: palegoldenrod;
}

[class^=side-nav-lvl-1-link]:hover, #cours-1ere-droit.hover, #cours-1ere-eco.hover, #cours-1ere-mana.hover, #cours-tle-droit.hover {
   background-color: lightgoldenrodyellow;
}

[class^=side-nav-lvl-2-link]:hover {
   background-color: ivory;
}

#side-nav-index-link {
   text-align: center;
   margin: 0.3em auto;
   width: fit-content;
}

h1 {
   font-size: 1.9em;
   font-style: italic;
    padding: 2%;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
}

h2 {
   font-size: 1.4em;
   margin-block: 0;
}

main > h2 {
   padding: 0 3%;
}

.card-text h2 {
   padding-top: 0.83em;
}

h1, h2 {
   text-decoration-line: underline;
   text-decoration-thickness: 7%;
   text-underline-offset: 5%;
}

#all-container h1, #all-container h2 {
   text-decoration-color: var(--color-on-primary);
}

h3 {
   padding: 0 4%;
   margin-block-end: 0;
}

h4 {
   padding: 0 4.5%;
}

p {
   text-align: justify;
   margin-inline: 5%;
}

main > ul {
   margin-block-start: 0;
   padding-inline-start: 9%;
   padding-right: 5%;
}

u {
   text-underline-offset: 10%;
   text-decoration-thickness: 1%;
}

table {
   border-collapse: collapse;
   margin: 1em;
   columns: auto;
}

#all-container td {
   border: 0.05em solid var(--color-on-primary);
   padding: 1%;
   text-align: justify;

}

td.important {
   text-align: center;
   font-weight: bold;
}

caption {
   font-size: 1.2em;
   margin-bottom: .5em;
   text-decoration: underline;
   font-style: italic;
}

nav {
   display: flex;
   justify-content: center;
   margin-top: 3em;
}

.button {
   font-weight: bold;
   font-size: 1em;
   border-radius: 0.3em;
   margin: 0 0.5em;
   border-style: none;
   padding: 0.4em 0.6em;
   background-color: var(--color-surface);
   box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
   cursor: pointer;
   transition: color var(--hover-anim-duration);
}

a:link.button, a:visited.button, a:hover.button, a:active.button {
   color: var(--color-on-primary);
}

.card-droit-1ere {
   background-color: indianred;
}

.card-eco-1ere {
   background-color: #404245;
}
.card-mana-1ere {
   background-color: seagreen;
}

.card-droit-1ere, .card-eco-1ere {
   padding: 0 2%;
}

.card-text {
   width: fit-content;
   margin: 2em .1%;
   background-color: #FFFFFFBB;
   border-radius: .5em;
   padding: 0 2.5% .01% 2.5%;
   box-shadow: 0 0 1em 0.1em #00000020;
}

.message-tip {
    border-radius: 1em;
    display: flex;
    align-items: center;
    padding: 0.7em 1em;
    width: fit-content;
    cursor: pointer;
    box-shadow: 0.02em 0.05em 0.1em 0.05em #32323288;
    margin: 0 0 2% 2%;
    background-color: var(--color-button-background);
    transition: opacity var(--hover-anim-duration);
    opacity: .9;
}


.message-tip span {
   color: var(--color-button);
}

.message-tip:hover {
   opacity: 0.8;
}

.message-tip span:nth-child(2) {
   transform-origin: center;
   transform: rotate(90deg);
   transition: transform var(--menu-anim-duration);
}

.message-tip.closed span:nth-child(2) {
   transform: rotate(-90deg);
}

.message-slider {
   transition: max-width 1s;
   overflow: hidden;
   padding: 1% 0;
}

li a {
    font-size: 105%;
}

footer {
   position: absolute;
   font-family: 'Lilita One';
   bottom: 0;
   left: 0;
   right: 0;
   margin-top: 1.5em;
   padding-bottom: 1em;
   background-color: var(--color-primary);
    box-shadow: 0 0 0.3em 0.1em #0003;
}

footer .footer-title {
   color: var(--color-on-primary);
}

.footer-container {
   display: flex;
   flex-direction: column;
}

.footer-title span {
   padding-right: 0.4em;
}

.footer-title {
   display: flex;
   align-items: center;
   padding: 16px 0;
}

.footer-list {
   position: relative;
   display: flex;
   flex-direction: column;
   background: none;
   font-family: 'Balsamiq Sans';
   list-style-type: none;
   padding-inline-start: 0;
   margin-block: 0;
   color: #707A8A;
}

.footer-list .material-icons-round {
   cursor: pointer;
}

.footer-list li {
   padding: 0 0 .5em 0;
}

.footer-list a:link, .footer-list a:hover {
   color: inherit;
}

.footer-list-item-container {
   display: flex;
   align-items: center;
}

.footer-list-item-container .material-icons-round {
   transform: scale(.75);
}

#footer-container {
   display: flex;
   justify-content: center;
   flex-basis: 100%;
}

.footer-list-container {
   margin-right: 3%;
}
