/* :root {font-size: 16px;} */

html,
body {
   margin:0;
   padding:0;
   height:100%;
   width: 100%;
   font-family: 'Roboto';
   /* font-size: 16px; */
}

html { scroll-behavior: smooth; }

* { box-sizing: border-box; }

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

#all-container {
   position: relative;
   min-height: 100%;
   padding-top: 6em;
   padding-bottom: 104px;
   /* padding-bottom: 11.5em; */
   background-color: var(--color-background);
}

header {
   position: fixed;
   width: 100%;
   height: 64px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--color-primary);
   box-shadow: 0 0 .2em 0 #292929DD;
   text-align: center;
   top: 0;
   z-index: 1000;
   transition: top .3s cubic-bezier(.4, 0, .2, 1);
}

#header-menu-index-container {
   display: flex;
   align-items: center;
}

#menu-svg-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 26px;
   height: 26px;
   margin: 0 var(--header-padding);
   cursor: pointer;
}

#menu-svg-container:hover > #menu-svg { fill: var(--color-control-on-primary); }

/* #menu-svg-container ~ a {font-size: 32px;} */

#menu-svg {
   height: 24px;
   transition: fill var(--hover-anim-duration);
   fill: var(--color-on-primary);
}

/* Menu bars (svg) and anims */
#menu-svg-top-bar { transform-origin: top left; }
#menu-svg-bottom-bar { transform-origin: bottom left; }
#menu-svg-top-bar, #menu-svg-bottom-bar { transition: transform var(--menu-anim-duration); }
#menu-svg-center-bar {
   opacity: 1;
   transition: opacity var(--menu-anim-duration);
}
#menu-svg.anim #menu-svg-top-bar { -webkit-transform: rotate(45deg) translate(5px, -6px); }
#menu-svg.anim #menu-svg-bottom-bar { -webkit-transform: rotate(-45deg) translate(5px, 6px); }
#menu-svg.anim #menu-svg-center-bar { opacity: 0; }

#header-links :not(#night-mode) { display: none; }

#night-mode {
   cursor: pointer;
   margin: var(--header-padding);
}

main {
   display: flex;
   flex-direction: column;
   position: relative;
   min-width: 70%;
   max-width: 100%;
   width: fit-content;
   background-color: var(--color-surface);
   color: var(--color-on-primary);
   box-shadow: 0 0 .2em 0 #2F2F2F;
   /* border-radius: .2em; */
    /* padding: 1%; */
    margin: auto;
}

main a, footer a {
   transition: color var(--hover-anim-duration);
}

main a:link { color: royalblue; }
main a:visited { color: rebeccapurple; }

footer a:link, footer a:visited {color: #505A6A;}

main a:hover, footer a:hover {
   color: var(--color-control-on-primary);
}

ul, ol {margin-block-start: 0.2em;}

.table-img {
   display: flex;
   max-width: 140px;
   /* max-width: 100%; */
   margin: .5em auto;
}

.table-big-img {
   display: flex;
   width: 100%;
}

#fab-back-to-top {
   position: fixed;
   width: 48px;
   height: 48px;
   bottom: 48px;
   right: 5%;
   border: none;
   border-radius: 50%;
   opacity: 0;
   color: var(--color-button);
   /* background-color: #ff8a00CC; */
   background-color: var(--color-button-background);
   cursor: pointer;
   z-index: 1;
   font-size: 32px;
   text-align: center;
   line-height: 1.4;
   transition: transform .3s;
}

#fab-back-to-top:hover {
   transform: scale(1.15);
}

a:visited, a:hover, a:active {
   color: inherit;
   text-decoration: none;
}

main a:visited {
   color: purple;
}

a:link { text-decoration: none; }

#index-link {
   display: flex;
   flex-direction: column;
   font-family: 'Oregano', 'Poiret One', 'Lilita One', 'Itim', 'Arial Black';
   font-weight: normal;
   font-size: 2em;
   font-style: italic;
   line-height: 0.87;
}

.header-link, #index-link, a:link#index-link, a:visited#index-link, #night-mode {
   color: var(--color-on-primary);
   transition: color var(--hover-anim-duration);
}

.header-link:hover, a:hover#index-link, #night-mode:hover {
   color: var(--color-control-on-primary);
}

.header-link {
   cursor: pointer;
}

/* Used in header and side nav*/
.mes-rev {
   font-family: 'Road Rage', 'Yellowtail';
   font-size: 1em;
   font-weight: normal;
   font-style: normal;
   transform: translateX(3.5px);
}

aside {
   position: fixed;
   top: 0;
   bottom: 0;
   width: 73%;
   right: 100%;
   height: 100%;
   display: block;
   flex-direction: column;
   align-items: flex-start;
   /* background-color: var(--color-primary-variant); */
   background-color: #fde890;
   color: var(--color-on-primary);
   box-shadow: -0.1em 0 0.1em 0.01em #292929DD;
   overflow-x: hidden;
   transition: right var(--menu-anim-duration), box-shadow var(--menu-anim-duration);
   z-index: 1200;
   padding-bottom: 2em;
}

aside.open {
   right: 27%;
   box-shadow: 1em 0 15em 9em #292929dd;
}

aside a:-webkit-any-link {
   color: inherit;
   padding: var(--side-nav-vertical-padding);
   padding-left: 0;
}

aside ul {
   display: flex;
   flex-direction: column;
   width: -webkit-fill-available;
   padding-inline-start: .8em;
}

aside ul li ul {padding-inline-start: 1em;}

[class^=side-nav-lvl] {
   align-items: center;
   transition: background-color var(--hover-anim-duration);
}

/* level 0 (Cours 1ere) */
.side-nav-lvl-0-link {
   font-size: 108%;
   padding: var(--side-nav-vertical-padding) .2em;
   cursor: pointer;
   width: -webkit-fill-available;
   font-weight: bold;
   padding-inline-start: 0;
}

.side-nav-lvl-0-link > span:last-child {
   font-style: italic;
}

aside::-webkit-scrollbar {
   width: 4px;
}

aside::-webkit-scrollbar-thumb {
   background-clip: content-box;
   background-color: grey;
   border-radius: .5em;
   border-right: 1px solid transparent;
}

#cours-1ere-all-container, #cours-1ere-droit-all-container, #cours-1ere-eco-all-container, #cours-1ere-mana-all-container,
#cours-tle-all-container, #cours-tle-droit-all-container, #cours-tle-eco-all-container, #cours-tle-mana-all-container, #cours-sig-all-container {
   transition: max-height var(--side-nav-anim-duration) ease-out;
   overflow: hidden;
   max-height: 0;
}

.collapsible-1ere .material-icons-round, .collapsible-tle .material-icons-round {
   transition: transform var(--side-nav-anim-duration);
   transform: rotate(360deg);
}

.collapsible-1ere.close .material-icons-round, .collapsible-tle.close .material-icons-round {
   transform: rotate(270deg);
}

[class^=side-nav-lvl-1-link] {
   font-size: 104%;
   padding: var(--side-nav-vertical-padding) 0 var(--side-nav-vertical-padding) .8em;
   cursor: pointer;
   padding-inline-start: 0.4em;
}

aside ul, .side-nav-lvl-0-link, [class^=side-nav-lvl-1-link] {
   display: flex;
   list-style-type: none;
   margin-block: 0;
}

[class^=side-nav-lvl-2-link] {
   /* display: list-item; */
   /* list-style-type: disc; */
   width: -webkit-fill-available;
   /* padding: var(--side-nav-vertical-padding); */
   padding-left: 1.68571429em;
   /* text-indent: -1.28571429em; */
}

[class^=side-nav-lvl-2-link] > a {
   display: list-item;
   list-style-type: disc;
   list-style-position: outside;
   /* text-indent: 0; */
}

a [class^=side-nav-lvl-2-link] {
   padding: var(--side-nav-vertical-padding) .6em var(--side-nav-vertical-padding) 2.8em;
   text-align: justify;
}

.side-nav-lvl-0-link:hover, .side-nav-lvl-0-link.hover {
   background-color: palegoldenrod;
}

[class^=side-nav-lvl-1-link]:hover, #cours-1ere-droit.hover, #cours-1ere-eco.hover, #cours-1ere-mana.hover, #cours-tle-droit.hover {
   background-color: lightgoldenrodyellow;
}

[class^=side-nav-lvl-2-link]:hover {
   background-color: ivory;
}

/* #side-nav-index-link {
   text-align: center;
   margin: 0.3em auto;
   width: fit-content;
} */

h1 {
   font-size: 1.9em;
   font-style: italic;
   padding: 1% 2% 3% 2%;
   width: -webkit-fill-available;
   margin-block: 0;

    /* padding: 0 2%; */
    text-align: center;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

/* #all-container h1 {box-shadow: 0 -0.2em 0.2em -0.2em inset grey;} */
/* #all-container h1 {background: linear-gradient(0deg, #222, #BBB 0.1%, var(--color-surface) 4%, var(--color-surface));} */
#all-container h1 {
    background: linear-gradient(0deg, var(--color-surface-dark), #8885 0.1%, var(--color-surface) 2%, var(--color-surface));}

h2 {
   font-size: 1.4em;
   margin-block: 0;
}

.h2-container {margin: 2.5% 3% 1% 3%;}

.h2-container ul li, .h2-container ol li {padding: .25em 0;}

.card-text ul:only-child, .card-text h2 {padding-top: 0.83em;}

h1, h2 {
   text-decoration-line: underline;
   text-decoration-thickness: 7%;
   text-underline-offset: 5%;
}

#all-container h1, #all-container h2 {
   text-decoration-color: var(--color-on-primary);
}

h3 {
   padding: 0 .25em;
   margin-block: 0;
}

.h3-container {
   margin-top: .8em;
   margin-bottom: 1.6em;
}

.h4-container {
   margin-top: .7em;
   margin-bottom: 1.4em;
}

.h3-container table {
   position: relative;
   left: 0;
}

h4 {
   padding: 0 .75em;
   margin-block: 0;
   font-size: 1.02em;
}

p, .popup-p {
   text-align: justify;
   padding-inline: .75em;
   margin-block: .3em;
}

.h4-container p {padding-inline: 1.25em 0.75em;}

.icon-in-p {vertical-align: bottom;}

.float-img-container {
   display: inline-block;
}

u {
   text-underline-offset: 10%;
   text-decoration-thickness: 1%;
}

table {
   border-collapse: collapse;
   margin: .5em 0 1em 0;
   columns: auto;
   max-width: -webkit-fill-available;
}

table ul, table ol {
   list-style-position: inside;
   padding-inline-start: inherit;
   margin-block: .25em .5em;
}

table p {margin-inline: 0;}

.center {margin: auto;}

.division-container {
   display: flex;
   margin-inline: 4%;
   align-items: center;
}

.division-col {
   display: flex;
   flex-direction: column;
   text-align: center;
}

.overline {text-decoration-line: overline;}

#all-container td, #all-container th {
   padding: 4px;
   border: 0.01em solid var(--color-on-primary);
}

#all-container .important {
   text-align: center;
   font-weight: bold;
}

#all-container tr.center > td, #all-container td.center {
   text-align: center;
}

caption {
   font-size: 1.2em;
   margin-bottom: .5em;
   text-decoration: underline;
   font-style: italic;
}

nav {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   margin-top: 3em;
}

.explain {text-decoration-style: dashed;}

blockquote {text-align: justify;}

a.open-in-new {
   display: inline-flex;
   align-items: center;
}

a.open-in-new > .material-icons-round {
   margin-left: .12em;
   font-size: 90%;
   vertical-align: bottom;
}

.button {
   position: relative;
   font-weight: bold;
   font-size: 1em;
   border-radius: .3em;
   margin: .5em;
   border-style: none;
   padding: .4em .6em;
   cursor: pointer;
   transition: color var(--hover-anim-duration);
   background: linear-gradient(45deg, var(--color-surface) 25%, rgb(254 254 254 / 75%) 45%, var(--color-surface));
   box-shadow: inset -0.02em -0.02em 0.15em 0.1em #11080222, 0.08em 0.06em 0.2em 0 rgb(0 0 0 / 35%);
   transition: all var(--hover-anim-duration) ease-out;
   z-index: 1;
   text-align: center;
   display: flex;
   align-items: center;
   height: 48px;
}

.button:after {
   position: absolute;
   width: 0;
   height: 100%;
   content: "";
   z-index: -1;
   top: 0;
   right: 0;
   transition: all var(--hover-anim-duration) ease-out;
   border-radius: 0.3em;
   background-color: var(--color-surface);
}

.button:hover:after {
   left: 0;
   width: 100%;
}

a:link.button, a:visited.button, a:hover.button, a:active.button {color: var(--color-on-primary);}

a:active.button {top: 2px;}

.card-droit-1ere {background-color: indianred;}

.card-eco-1ere {background-color: #404245;}

.card-mana-1ere {background-color: darkseagreen;}

.card-droit-1ere, .card-eco-1ere, .card-mana-1ere, .card-droit-tle, .card-eco-tle, .card-mana-tle, .card-sig {padding: 0 2%;}

.card-droit-tle {background-color: #bf4f4f;}

.card-eco-tle {background-color: #2e3540;}

.card-mana-tle {background-color: seagreen;}

.card-sig {background-color: #a58cd7;}

.card-text {
   width: fit-content;
   margin: 2em .1%;
   background-color: var(--color-surface);
   border-radius: .5em;
   padding: 0 2.5% .01% 2.5%;
   box-shadow: 0 0 1em 0.1em #00000020;
}

.example-drop-down.night-mode-element {background-color: var(--color-button-background);}

.example-drop-down-title {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.chapter-info {
   margin-inline: 5%;
   font-style: italic;
   margin-block-start: 1em;
}

table.borderless {border-style: hidden;}

.message-tip {
    border-radius: 1em;
    display: flex;
    align-items: center;
    padding: 0.7em 1em;
    width: fit-content;
    cursor: pointer;
    box-shadow: 0.02em 0.05em 0.1em 0.05em #32323288;
    margin: 0 0 2% 2%;
    background-color: var(--color-button-background);
    transition: opacity var(--hover-anim-duration);
    opacity: .9;
    min-height: 52px;
}

.message-tip.closed > .message-slider {
   transition: font-size .6s, opacity .6s;
   font-size: 0;
   opacity: 0;
}



.message-tip span {color: var(--color-button);}

.message-tip:hover {opacity: 0.8;}

.message-tip span:nth-child(2) {
   transform-origin: center;
   transform: rotate(90deg);
   transition: transform var(--menu-anim-duration);
}

.message-tip.closed span:nth-child(2) {transform: rotate(-90deg);}

.message-slider {
   transition: font-size .6s, opacity .6s;
   padding: 1% 0;
}

.example-tip {
   border-radius: .5em;
   margin: .5em 0;
   margin-inline: 4%;
   border: medium solid var(--color-button-background);
}

.example-tip-title {
   font-weight: bold;
   background-color: var(--color-button-background);
   padding: 2%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.example-tip-content {
   padding: 1% 2%;
   transition: all var(--menu-anim-duration);
   font-size: 100%;
   display: block;
}


.example-tip.closed .example-tip-content {
   font-size: 0;
   padding: 0;
   display: none;
}

li a {font-size: 105%;}

pre {
   overflow: auto;
   background-color: #0C0F11;
   color: #EFEFEF;
   border-radius: .25em;
   padding: .5em .125em;
   margin: .75em 0;
   margin-inline: 4%;
}

pre.normal {white-space: normal;}

.php code.tag {color: indianred;}
.php code.variable {color: #ffd900;}
.php code.number {color: lightskyblue;}
.php code.string {color: yellowgreen;}
.php code.method {color: dodgerblue;}
.php code.condition {color: mediumpurple;}

.sql code {color: #c792ea;} /* SELECT INTO CREATE TABLE REFERENCES PRIMARY FOREIGN KEY... IN AS DESC ASC  */
/* .sql code.type {color: orange;} */
.sql code.string {color: #c3e88d;}
.sql code.type {color: #decb6b;} /* INT DATE FLOAT BOOL */
.sql code.comment {
   color: grey;
   font-style: italic;
}
.sql code.comment::before {content: "/* "}
.sql code.comment::after {content: " */"}
.sql code.compare {color: #89ddff;} /* = < > <= >= <> AND OR IS NOT LIKE BETWEEN * */
.sql code.number {color: #ff5370;} /* 0 0.0 NULL TRUE FALSE */
.sql code.function {color: #dd4a68;}
.sql code.punctu {color: #bbb;}
.sql code.syntax {
   color: inherit;
   font-style: italic;
}

.xml code {color: #F92672;}
.xml code.param {color: #A6E22E;}
.xml code.string {color: #E6DB74;}
.xml code.comment, .php code[class*="comment-"] {
   color: #75715E;
   font-style: italic;
}
.xml code.comment::before {content: "<!-- ";}
.xml code.comment::after {content: "--> ";}

.php code.comment-single::before {content: "// ";}
.php code.comment-multi::before {content: "/* ";}
.php code.comment-multi::after {content: " */";}

.no-user-select {user-select: none;}

.cite {
   float: right;
}

p.cite a {
   display: inline-flex;
   align-items: center;
}

.cite a cite {
   display: contents;
}

.img-max-width {max-width: 100%;}

.s-device {display: block;}
.l-device {display: none;}

.img-float {
   float: left;
   padding: 1%;
   max-width: 33.33%;
}

.fill-available-img {
   width: 100%;
   max-width: 200px;
   padding: 0 1em;
}

#flex-tables-container {
   display: flex;
}

#sig-flex-sync-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.sig-flex-sync {
   display: inline-flex;
   flex-direction: column;
}

.sig-flex-sync img {
   max-width: 280px;
   margin: auto;
}

footer {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   font-family: 'Balsamiq Sans';
   font-size: .9em;
   background-color: var(--color-primary);
   bottom: 0;
   height: 52px;
   box-shadow: 0 0.25em 0.45em 0.1em #222;
}

footer div {padding: .8em 0;}
