* { box-sizing: border-box; }

body {
   margin: 0;
   background: var(--color-background);
   /* color: var(--color-on-background); */
   font-family: 'Roboto';
}

body.night-mode {
   background: var(--color-background-dark);
   /* color: var(--color-on-background-dark); */
}

main {
   display: flex;
   flex-direction: column;
   margin: 36px 0;
   width: 80%;
   position: relative;
   left: 10%;
   transition: left var(--menu-anim-duration), width var(--menu-anim-duration);
   padding: 48px 24px 24px 24px;
   background-color: var(--color-surface);
   color: var(--color-on-surface);
   box-shadow: 0 0 .2em 0 #2F2F2F;
   border-radius: .2em;
}

main.night-mode {
   background-color: var(--color-surface-dark);
   color: var(--color-on-surface-dark);
}

.material-icons-round {
   color: #323232CA;
   transition: color var(--hover-anim-duration);
   cursor: pointer;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

.index-link {
   display: flex;
   flex-direction: column;
   font-family: 'Oregano', 'Poiret One', 'Lilita One', 'Itim', 'Arial Black';
   font-weight: normal;
   font-size: 2em;
   font-style: italic;
   color: var(--color-on-primary);
   line-height: 0.87;
   transition: color var(--hover-anim-duration);
}

.index-link.night-mode {
   color: var(--color-on-primary-dark);
}

/* Used in header and side nav*/
.index-link:hover, .material-icons-round:hover { color: #323232FF; }

/* Used in header and side nav*/
.mes-rev {
   font-family: 'Road Rage', 'Yellowtail';
   font-size: 1em;
   font-weight: normal;
   font-style: normal;
   transform: translateX(3.5px);
}

ul {
   margin-block: 0;
   padding-inline-start: 0;
}

.arrow-drop-down {
   color: var(--color-on-primary);
   transition: color var(--hover-anim-duration);
}

.arrow-drop-down.night-mode {
   color: var(--color-on-primary-dark);
}
