/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

   #header-links {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      transform-style: preserve-3d;
      height: inherit;
   }

   #header-links :not(#night-mode) {
      display: flex;
      transform-style: preserve-3d;
   }

   header {
      z-index: 1500;
      transform-style: preserve-3d;
   }

   .header-link {
      flex-direction: column;
      align-items: center;
      width: 175px;
      font-family: 'Comfortaa', 'Arial';
      font-weight: 600;
      font-style: italic;
      transform-style: preserve-3d;
      height: inherit;
      justify-content: center;
   }

   /* .header-link:hover, .header-link:hover .header-link-expandable-text,
   .index-link:hover, .header-link-expandable-list li:hover a {
      color: var(--color-control-on-primary);
   } */

   .header-link-title {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .header-link-expandable-text { padding-top: var(--header-padding); }

   .header-link-expandable-layout {
      position: absolute;
      justify-content: center;
      transform: translateZ(-1px);
      transition: top var(--header-link-expand-duration);
      top: -1000px;
      background: none;
      border-radius: 0 0 .3em .3em;
   }

   .header-link-expandable-list {
      /* background-color: khaki; */
      background-color: var(--color-primary);
      flex-direction: column;
      border-radius: inherit;
      box-shadow: 0 0 0.2em 0.01em #2f2f2f66;
      padding-inline-start: 0;
      margin-block: 0;
   }

   .header-link-expandable-list li {
      padding: var(--header-padding);
      width: 100%;
      transition: background-color var(--hover-anim-duration);
   }

   .header-link-expandable-list li:last-child {
      border-radius: inherit;
   }

   .header-link-expandable-list li a {
      align-items: center;
   }

   .header-link-expandable-list span {
      transition: color var(--hover-anim-duration);
      padding-right: .4em;
   }

   .header-link-expandable-list li:hover {
      /* color: var(--color-control-on-primary); */
      /* background-color: lightgoldenrodyellow; */
      background-color: var(--color-on-primary-dark);
   }

   .header-link-expandable-list li a:link, .header-link-expandable-list li a:visited {
      color: var(--color-on-primary);
   }

   /* .header-link-expandable-list li:hover a {
      color: var(--color-control-on-primary);
   } */

   .header-link-expandable-list li:hover .material-icons-round {
      color: var(--color-control-on-primary);
   }


   aside {
      right: 100%;
      width: 30%;
      height: 100%;
      bottom: auto;
      z-index: 800;
   }

   aside.open {
      right: 70%;
      bottom: auto;
      box-shadow: 0 0 0.15em 0 #292929dd;
   }

   main {
      /* width: max-content; */
      max-width: 80%;
      /* width: 80%; */
      left: 10%;
      border-radius: .2em;
      transition: left var(--menu-anim-duration), width var(--menu-anim-duration);
      /* padding: 1% 1% 2.5% 1%; */
      padding: 0;
      padding-top: 1%;
   }

   main.open {
      /* width: 70%; */
      max-width: 70%;
      position: relative;
      left: 30%;
      transition: left .5s, width .5s;
   }

   #fab-back-to-top {
      transform: translateX(24px);
   }

   .side-nav-item-l {
      display: block;
   }

   .card-droit-1ere {
      border-radius: 0 0 .2em .2em;
      /* margin: auto; */
   }
}
