aside {
   position: fixed;
   top: 0;
   bottom: 0;
   width: 73%;
   right: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   background-color: var(--color-primary-variant);
   color: var(--color-on-primary);
   box-shadow: -0.1em 0 0.1em 0.01em #292929DD;
   overflow-x: hidden;
   transition: right var(--menu-anim-duration), box-shadow var(--menu-anim-duration);
   z-index: 4;
}

aside.open {
   right: 27%;
   box-shadow: 1em 0 15em 9em #292929dd;
}

aside a:-webkit-any-link {
   color: inherit;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   aside {
      right: 100%;
      width: 25%;
      height: 100%;
      bottom: auto;
      z-index: 1;
   }

   aside.open {
      right: 75%;
      bottom: auto;
      box-shadow: 0 0 0.15em 0 #292929dd;
   }
}

/* aside nav container */
aside ul {
   display: flex;
   flex-direction: column;
   width: 100%;
   list-style-type: none;
}

aside > ul > li {
   border-top: thin solid #ECECEC; /*todo: change to light mode*/
}

aside > ul > li:first-child {
   border-top: none; /*todo: change to light mode*/
}

aside.night-mode > ul > li {
}

/* level 0 (Cours 1ere) */
/* aside ul li a { */
.side-nav-lvl-0-link {
   display: flex;
   align-items: center;
   font-size: 108%;
   padding: .5em 0;
}

/* ul li ul li a {
   font-size: 104%;
}

ul li ul li ul li a {
   font-size: 102%;
} */

/* aside > ul > li > a > span:last-child { */
.side-nav-lvl-0-link > span:last-child {
   font-style: italic;
}

aside > ul > li > a, aside > ul > li > ul > li > a {
   cursor: pointer;
}

/* aside > ul > li > a:hover {
   background-color: red;
}

aside > ul > li > ul > li > a:hover {
   background-color: yellow;
}

aside > ul > li.night-mode > a:hover {
   background-color: purple;
}

aside > ul > li > ul > li.night-mode > a:hover {
   background-color: orange;
}

aside > ul > li > ul > li > ul > li.night-mode > a:hover {
   background-color: orange;
} */

aside > ul > li > ul > li > a > span.material-icons-round {
   transform: rotate(270deg);
}

#side-nav-index-link {
   padding: .2em 0 .4em .6em;
   text-align: center;
}
