<IfModule mod_alias.c>
   Options -Indexes
   Redirect permanent /Cours_1ere_STMG/Droit https://olivierm-games.github.io/mes_rev_stmg_test/Cours_1ere/Droit
   Redirect permanent /Cours_1ere_STMG/Economie https://olivierm-games.github.io/mes_rev_stmg_test/Cours_1ere/Eco
   Redirect permanent /Cours_1ere_STMG/Management https://olivierm-games.github.io/mes_rev_stmg_test/Cours_1ere/Mana
   Redirect permanent /Cours_Terminale_STMG/SIG https://olivierm-games.github.io/mes_rev_stmg_test/Cours_Tle/SIG
   Redirect permanent /Cours_Terminale_STMG/Economie https://olivierm-games.github.io/mes_rev_stmg_test/Cours_Tle/Eco
   Redirect permanent /Cours_Terminale_STMG/Management https://olivierm-games.github.io/mes_rev_stmg_test/Cours_Tle/Mana
   Redirect permanent /Cours_Terminale_STMG/Droit https://olivierm-games.github.io/mes_rev_stmg_test/Cours_Tle/Droit
</IfModule>
