Options -Indexes -ExecCGI -FollowSymLinks -Includes
Redirect permanent /Cours_1ere_STMG/Droit http://mes.revisions.stmg.free.fr/Cours_1ere/Droit
Redirect permanent /Cours_1ere_STMG/Economie http://mes.revisions.stmg.free.fr/Cours_1ere/Eco
Redirect permanent /Cours_1ere_STMG/Management http://mes.revisions.stmg.free.fr/Cours_1ere/Mana
Redirect permanent /Cours_Terminale_STMG/Droit http://mes.revisions.stmg.free.fr/Cours_Tle/Droit
Redirect permanent /Cours_Terminale_STMG/Economie http://mes.revisions.stmg.free.fr/Cours_Tle/Eco
Redirect permanent /Cours_Terminale_STMG/Management http://mes.revisions.stmg.free.fr/Cours_Tle/Mana
Redirect permanent /Cours_Terminale_STMG/SIG http://mes.revisions.stmg.free.fr/Cours_Tle/SIG
ErrorDocument 404 /page_non_trouvee.html
