* { box-sizing: border-box; }

body {
  margin: 0;
  --hover-anim-duration: .25s;
  --header-padding: .85em;
}
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {} */
[class*='col-'] { width: 100%; }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 33.33%;}
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-8 {width: 66.66%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-xl-1 {width: 8.33%;}
  .col-xl-2 {width: 16.66%;}
  .col-xl-3 {width: 25%;}
  .col-xl-4 {width: 33.33%;}
  .col-xl-5 {width: 41.66%;}
  .col-xl-6 {width: 50%;}
  .col-xl-7 {width: 58.33%;}
  .col-xl-8 {width: 66.66%;}
  .col-xl-9 {width: 75%;}
  .col-xl-10 {width: 83.33%;}
  .col-xl-11 {width: 91.66%;}
  .col-xl-12 {width: 100%;}
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (min-width: 2400px) {
  body {
    font-size: 160%;
  }
}

  /* padding: 15px;
  clear: left;
  display: table; */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E5DDFF;
  font-family: 'Balsamiq Sans';
  box-shadow: 0 0 .2em .01em #292929DD;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  text-align: center;
}

.night-mode#header {
  background-color: #3F1E5A;
}

.header-link {
  margin: 0 var(--header-padding);
  font-family: 'Comfortaa', 'Arial Black';
  font-weight: 600;
  font-style: italic;
  color: #323232CA;
  transition: color var(--hover-anim-duration);
}

.header-link:hover { color: #323232FF; }

.material-icons-round {
  color: #323232CA;
  transition: color var(--hover-anim-duration);
}

/* #icons-container {
  display: flex;
  align-items: center;
} */

/* #index-link-container {
  padding: var(--header-padding) 0 var(--header-padding) var(--header-padding);
} */

#index-link {
  font-family: 'Itim', 'Arial Black';
  font-weight: 900;
  font-size: 1.5em;
  color: #323232CA;
  line-height: 0.9;
  transition: color var(--hover-anim-duration);
    padding: var(--header-padding) 0 var(--header-padding) var(--header-padding);
}

.night-mode#index-link, .night-mode.header-link, .night-mode.material-icons-round, .night-mode.side-nav-item {
  color: #E2E2E2CF;
}

.night-mode#index-link:hover, .night-mode.header-link:hover, .night-mode.material-icons-round:hover, .night-mode.side-nav-item:hover {
  color: #E2E2E2ED;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

#index-link:hover, .material-icons-round:hover { color: #323232FF; }

#menu-bars-container {
  padding-right: var(--header-padding);
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

#header-links { display: none; }

/* #night-mode {
  position: relative;
  right: var(--header-padding);
  display: block;
} */

/* #header-links:last-child {
  display: block;
} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #menu-bars-container { display: none; }

  #header-links {
    display: flex;
    flex-grow: 6;
    justify-content: flex-end;
    align-items: center;
  }

  /* #header {
    display: flex;
    align-items: center;
    background-color: #E5DDFF;
    font-family: 'Balsamiq Sans', 'Arial Black';
    box-shadow: 0 0 .2em .01em #292929DD;
    text-align: center;
  } */
  #header { justify-content: space-between; }

  #menu-s {
    display: none;
  }

  #side-nav {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    right: 250px;
    box-shadow: -0.1em 0 0.1em 0.01em #292929DD;
    overflow-x: hidden;
    transition: right 0.5s;
  }

  .side-nav-item-l {
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* #menu-bars-container { display: none; }

  #header-links {
    flex-grow: 6;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  #header {
    display: flex;
    align-items: center;
    background-color: #E5DDFF;
    font-family: 'Balsamiq Sans', 'Arial Black';
    box-shadow: 0 0 .2em .01em #292929DD;
    text-align: center;
  } */
}

#menu-bars-container:hover > .bar1, #menu-bars-container:hover > .bar2, #menu-bars-container:hover > .bar3 {
  background-color: #323232FF;
}

.bar1 { transform-origin: top right; }

.bar3 { transform-origin: bottom right; }

.bar1, .bar2, .bar3 {
  width: 24px;
  height: 0.2em;
  background-color: #323232CA;
  border-radius: 0.2em;
  transition: transform 0.4s, background-color var(--hover-anim-duration);
}

.night-mode > .bar1, .night-mode > .bar2, .night-mode > .bar3 {
  background-color: #E2E2E2CF;
}

.night-mode#menu-bars-container:hover > .bar1, .night-mode#menu-bars-container:hover > .bar2, .night-mode#menu-bars-container:hover > .bar3 {
  background-color: #E2E2E2ED;
}

.anim-menu .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, -0.3em);
  transform: rotate(-45deg) translate(-3px, -0.3em);
}

.anim-menu .bar2 { opacity: 0; }

.anim-menu .bar3 {
  -webkit-transform: rotate(45deg) translate(-3px, 0.3em);
  transform: rotate(45deg) translate(-3px, 0.3em);
}

#side-nav {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 100%;
  box-shadow: -0.1em 0 0.1em 0.01em #292929DD;
  overflow-x: hidden;
  transition: right 0.5s;
  z-index: 1;
}

.side-nav-item {
  width: 100%;
  background-color: #ECE5FF;
  text-align: left;
  padding: var(--header-padding) 0;
  font-family: 'Comfortaa', 'Arial';
  font-weight: 600;
  font-style: italic;
  color: #323232CA;
}

.side-nav-item-l {
  display: none;
}

.night-mode > .side-nav-item {
  color: #E2E2E2CF;
  background-color: #45235F;
}

/*#side-nav .side-nav-item { */
aside .side-nav-item {
  border-bottom: 0.01em solid #2F2F2F88;
}

/* #side-nav:last-child { */
aside:last-child {
  border-bottom: 0 solid #ffffff00;
}

/* .side-nav-item:nth-child(1), .side-nav-item:nth-child(2), .side-nav-item:nth-child(3) { */
  /* border-bottom: 0.01em solid #2F2F2F88; */
/* } */

.side-nav-item:hover {
  background-color: #ECE5FFAA;
  color: #323232FF;
}

.night-mode > .side-nav-item:hover {
  color: #E2E2E2ED;
  background-color: #45235FA0;
}
