.eco-1ere-c1-fun-choice {
   border-radius: 50%;
   background-color: darkkhaki;
   padding: 2em 1em;
   display: flex;
   align-items: center;
   text-align: center;
   height: 60px;
   width: 180px;
   justify-content: center;
   box-shadow: 0 0 0.2em 0.01em #0003;
}

.eco-1ere-c1-fun-choice.night-mode {
   background-color: mediumseagreen;
}

#eco-1ere-c1-fun-society-choice {
   border-radius: 5px;
   background-color: lightskyblue;
   padding: 1.5em;
   display: flex;
   align-items: center;
   text-align: center;
   box-shadow: 0 0 0.2em 0.01em #0003;
}

#eco-1ere-c1-fun-society-choice.night-mode {
   background-color: royalblue;
}

.eco-1ere-c1-fun-choice-arrow-curved.material-icons-round {
   font-size: 36px;
   height: 36px;
   color: darkkhaki;
   text-shadow: 1px 1px #0008;
}

.eco-1ere-c1-fun-choice-arrow-curved.night-mode.material-icons-round {
   color: mediumseagreen;
}

.eco-1ere-c1-fun-choice-arrow-straight.material-icons-round {
   font-size: 36px;
   height: 36px;
   text-shadow: 1px 1px #0008;
   color: lightskyblue;
}

.eco-1ere-c1-fun-choice-arrow-straight.night-mode.material-icons-round {
   color: royalblue;
}

#eco-1ere-c1-fun-subcontainer-0 {
   width: 40%;
   margin: 0 2em;
}

#eco-1ere-c1-fun-subcontainer-1 {
   display: flex;
   width: -webkit-fill-available;
   justify-content: space-evenly;
}

#eco-1ere-c1-fun-subcontainer-2 {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: -webkit-fill-available;
}

.eco-1ere-c1-fun-container { margin-bottom: 2em; }

.eco-1ere-c1-fun-container, #eco-1ere-c1-fun-top-container, #eco-1ere-c1-fun-subcontainer-0 {
   display: flex;
}

.eco-1ere-c1-fun-container, #eco-1ere-c1-fun-subcontainer-0 {
   flex-direction: column;
   align-items: center;
}

#eco-1ere-c1-fun-top-container {
   width: 100%;
   justify-content: center;
   align-items: center;
}
